---
title: Publications
---
<style>
.title {
  font-weight: bold;
}
.author {
  white-space: nowrap;
}
.author:not(:last-child):after {
  content: ",";
}
</style>
<table class="publications">
  <tr>
    <th>Year</th>
    <th>Title</th>
    <th>Authors</th>
    <th>Venue</th>
    <th>Links</th>
  </tr>
  {% for pub in site.data.publications %}
  {% assign first_author_last_name = pub.authors | first | split: ' ' | last %}
  <tr>
    <td>{{pub.year}}</td>
    <td class="title">{% if pub.url and pub.url != "" %}<a href="{{pub.url}}">{{pub.title}}</a>{% else %}{{pub.title}}{% endif %}</td>
    <td>
      {% for author in pub.authors %}
      <span class="author">{{author}}</span>
      {% endfor %}
    </td>
    <td><span title="{{pub.venue_long}}">{{pub.venue}}</span></td>
    <td><a href="https://scholar.google.com/scholar?q=%22{{pub.title}}%22 {{first_author_last_name}}">Google Scholar</a></td>
  </tr>
  {% endfor %}
</table>
